<html>

<head>

<style>
body {
  background: #F8A434;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}



.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}




  </style>
    <meta charset="utf-8">
    <title>ImageBucket</title>
    
  </head>
  <body>
  	<div class="header">
         <p>Insta Images</p>
      </div>

{% for item in image_link %}

<img src={{item}}> 
<br>
<br>
{% endfor %}


</body>
</html>